:root {
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 32px;
  --spacing-xl: 64px;

  --font-size-s: 1.125rem;
  --h1-size: 1.9rem;

  --primary-color: #0abab5;
  --secondary-color: #56dfcf;
  --light-color: #393e46;
  --super-light-color: #393e46;
  --dark-color: #222831;
  --background-color: #fffdf6;

  --standard-radius: 8px;
  --circle-radius: 50%;

  --standard-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.76);
  --light-shadow: 0px 0px 10px 0px rgba(177, 177, 177, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  object-fit: cover;
  font-family: "Roboto", sans-serif;
}

/* ======================================== */
/*             GENERAL STYLE                */
/* ======================================== */
html,
body {
  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
  color: var(--dark-color);
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

p,
a {
  font-size: var(--font-size-s);
  color: var(--light-color);
  text-decoration: none;
}

h2 {
  text-transform: uppercase;
}

.primary-button {
  font-size: var(--font-size-s);
  font-weight: bold;
  padding: var(--spacing-s) var(--spacing-l);
  border-radius: var(--standard-radius);
  border: none;
  background-color: var(--primary-color);
  color: var(--dark-color);
  cursor: pointer;
  transition: all 0.15s ease;
}

.primary-button:hover {
  background-color: var(--secondary-color);
  color: var(--light-color);
}

.drawer {
  width: 100%;
  height: 100px;
  background-color: purple;
  position: fixed;
  transition: all 0.5s ease;
}

/* ======================================== */
/*             BURGER STYLE                 */
/* ======================================== */
.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-s);
  cursor: pointer;
  margin-right: var(--spacing-s);
  width: 33px;
  padding-left: 3px;
  display: none;
}

.burger-bar {
  width: 40px;
  height: 4px;
  background-color: var(--background-color);
  border-radius: var(--standard-radius);
}

.animate-burger:nth-child(1) {
  animation: 0.5s ease-in forwards flip-down;
}

.animate-burger:nth-child(2) {
  animation: 0.5s ease-in forwards shrink;
}

.animate-burger:nth-child(3) {
  animation: 0.5s ease-in forwards flip-up;
}

/* ======================================== */
/*             BURGER ANIMATION             */
/* ======================================== */
@keyframes flip-down {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg) translate(7px, 10px);
  }
}

@keyframes shrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes flip-up {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-45deg) translate(7px, -10px);
  }
}

/* ======================================== */
/*             HEADER STYLE                 */
/* ======================================== */
header {
  background-color: var(--super-light-color);
  border-bottom-left-radius: calc(var(--standard-radius) * 3);
  border-bottom-right-radius: calc(var(--standard-radius) * 3);
  width: 100%;
  position: fixed;
  transition: all 0.5s ease;
  z-index: 1;
}

.header-drawer-hide {
  transform: translateY(-101px);
}

header * {
  color: var(--background-color);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-m);
  padding: var(--spacing-l) 0;
}

.header-title {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: var(--h1-size);
}

.header-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-xl);
  flex-wrap: wrap;
  list-style-type: none;
}

.header-links a {
  font-weight: bold;
  transition: all 0.15s ease;
  border-radius: var(--standard-radius);
  padding: 5px;
}

.header-links a:hover {
  box-shadow: var(--light-shadow);
}

/* ======================================== */
/*             HEADER DRAWER STYLE          */
/* ======================================== */
.drawer-nav {
  position: fixed;
  height: 100vh;
  width: 100px;
  right: 0;
  background-color: var(--light-color);
  border-bottom-left-radius: calc(var(--standard-radius) * 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: var(--spacing-m);
  display: none;
}

.drawer-close {
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0);
}

.drawer-close-icon {
  width: 100%;
}

.drawer-list-item a {
  color: var(--background-color);
}

.drawer-list-item {
  list-style: none;
}

.drawer-list {
  height: 100%;
  width: 100%;
  border-bottom-left-radius: calc(var(--standard-radius) * 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-xl);
}

/* ======================================== */
/*             HERO STYLE                   */
/* ======================================== */
.hero {
  margin-top: 101px;
}

.hero .container {
  padding: var(--spacing-xl) 0;
}

.hero-placeholder {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);
  width: 100%;
}

.hero-title {
  font-size: clamp(3rem, 10vw, 3.5rem);
  color: var(--dark-color);
  text-transform: initial;
}

.hero-subtitle {
  line-height: 1.5;
}

.hero-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-l);
}

.hero-buttons a {
  width: 150px;
  min-width: 150px;
  padding: var(--spacing-s) 0;
  text-align: center;
}

/* ======================================== */
/*             SKILLS STYLE                 */
/* ======================================== */
.skills {
  border-top: 1px solid var(--dark-color);
  border-bottom: 1px solid var(--dark-color);
}

.skills .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--spacing-l) 0;
  gap: var(--spacing-l);
}

.skills-techs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-xl);
}

.skills-github-icon {
  width: 25px;
}

.skills-techs h3 {
  color: var(--super-light-color);
}

/* ======================================== */
/*             PROJECTS STYLE               */
/* ======================================== */
.projects {
  border-bottom: 1px solid var(--light-color);
  padding: var(--spacing-l) 0;
}

.projects-parent {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.projects-container {
  display: flex;
  gap: var(--spacing-m);
  height: 175px;
}

.projects-container:hover .project-image {
  transform: scale(1.02);
}

.project-image {
  width: 20%;
  border-radius: var(--standard-radius);
  box-shadow: var(--standard-shadow);
  transition: all 0.15s ease;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}

.project-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-l);
}

.project-title {
  text-transform: initial;
}

/* ======================================== */
/*             ABOUT STYLE                  */
/* ======================================== */
.about {
  padding: var(--spacing-xl) 0;
  border-bottom: 1px solid var(--dark-color);
}

.about .container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.about-profile-pic {
  width: 150px;
  border-radius: var(--circle-radius);
  box-shadow: var(--standard-shadow);
}

.about-infos {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--spacing-l);
}

.about-details-container > p {
  margin-bottom: var(--spacing-m);
}

.about-details:nth-child(1),
.about-details span {
  font-weight: bold;
}

/* ======================================== */
/*             CONTACT STYLE                */
/* ======================================== */
.contact {
  padding: var(--spacing-xl) 0;
}

.contact .container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);
}

.contact-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  gap: var(--spacing-m);
}

.contact-list li {
  margin: var(--spacing-m) 0;
}

.contact-list a {
  border-radius: var(--standard-radius);
  padding: var(--spacing-s);
}

.contact-list a:hover {
  border-bottom: 1px solid var(--dark-color);
}

.contact-list .contact-email::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("../assets/mail1.png");
  margin-right: var(--spacing-s);
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.contact-list .contact-linkedin::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("../assets/linkedin2.png");
  margin-right: var(--spacing-s);
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.contact-list .contact-github::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url("../assets/github-contact3.png");
  margin-right: var(--spacing-s);
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
}

/* ======================================== */
/*             FOOTER STYLE                 */
/* ======================================== */
footer {
  padding: var(--spacing-xl) 0;
  background-color: var(--dark-color);
  border-top-left-radius: calc(var(--standard-radius) * 3);
  border-top-right-radius: calc(var(--standard-radius) * 3);
}

.footer-motivation {
  text-align: center;
  color: var(--background-color);
}

/* ======================================== */
/*             RESPONSIVE                   */
/* ======================================== */
@media only screen and (max-width: 1045px) {
  .container {
    max-width: 95%;
  }

  .header-links {
    gap: var(--spacing-l);
  }
}

@media only screen and (max-width: 810px) {
  .header-links {
    display: none;
  }

  .burger {
    display: flex;
  }

  .skills-techs {
    gap: var(--spacing-l);
    width: 100%;
  }

  .skills .container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 480px) {
  .hero-buttons {
    justify-content: space-around;
  }
}
