:root {
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 32px;
  --spacing-xl: 64px;

  --font-size-s: 1.125rem;
  --h1-size: 1.9rem;

  --primary-color: #0abab5;
  --secondary-color: #56dfcf;
  --light-color: #393e46;
  --super-light-color: #393e4688;
  --dark-color: #222831;
  --background-color: #fffdf6;

  --standard-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  object-fit: cover;
  font-family: "Roboto", sans-serif;
}

/* ======================================== */
/*             GENERAL STYLE                */
/* ======================================== */
html,
body {
  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
  color: var(--dark-color);
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

p,
a {
  font-size: var(--font-size-s);
  color: var(--light-color);
}

.primary-button {
  font-size: var(--font-size-s);
  font-weight: bold;
  padding: var(--spacing-s) var(--spacing-l);
  border-radius: var(--standard-radius);
  border: none;
  background-color: var(--primary-color);
  color: var(--dark-color);
  cursor: pointer;
  transition: all 0.15s ease;
}

.primary-button:hover {
  background-color: var(--secondary-color);
  color: var(--light-color);
}

/* ======================================== */
/*             HEADER STYLE                 */
/* ======================================== */
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-m);
  padding: var(--spacing-l) 0;
}

.header-title {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: var(--h1-size);
}

.header-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-xl);
  flex-wrap: wrap;
  list-style-type: none;
}

.header-links a {
  text-decoration: none;
  font-weight: bold;
  color: var(--dark-color);
  /* padding: var(--spacing-s); */
  transition: all 0.15s ease;
}

.header-links a:hover {
  border-bottom: 1px solid var(--dark-color);
}

/* ======================================== */
/*             HERO STYLE                   */
/* ======================================== */
.hero .container {
  padding: var(--spacing-xl) 0;
}

.hero-placeholder {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);
  width: 50%;
}

.hero-title {
  font-size: 3.5rem;
  color: var(--dark-color);
}

.hero-subtitle {
  line-height: 1.5;
}

.hero-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacing-l);
}

/* ======================================== */
/*             SKILLS STYLE                 */
/* ======================================== */
.skills {
  border-top: 1px solid var(--dark-color);
  border-bottom: 1px solid var(--dark-color);
}

.skills .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--spacing-l) 0;
}

.skills-techs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-xl);
}

.skills-github-icon {
  width: 25px;
}

.skills-techs h3 {
  color: var(--super-light-color);
}

/* ======================================== */
/*             PROJECTS STYLE                 */
/* ======================================== */
.projects {
  border-bottom: 1px solid var(--light-color);
}

.projects .container {
  display: flex;
  justify-content: flex-start;
  gap: var(--spacing-m);
  padding: var(--spacing-xl) 0;
}

.project-image {
  width: 40%;
  border-radius: var(--standard-radius);
}

.project-info {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.project-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacing-l);
}
